<br>
<br>
<div class="container">
  <h5>{{auth.displayName}}'s WatchList!</h5>
  <br>
  <div class="row">
    <div *ngFor="let movie of movieArray">
      <div class="col">
        <div class="card" style="width: 18rem; border: 2px solid black;">
          <img
            class="card-img-top"
            src="{{ movie.Poster }}"
            alt="Card image cap"
            style="border: 2px solid black;"
          />
          <div class="card-body">
            <h5 class="card-title text-center" id="title">{{movie.Title}}</h5>
            <p class="card-text text-center">{{movie.Year}}</p>
            <!-- <button class="btn btn-primary" (click)="remove($event)">Watched</button> -->
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
